<body>
	{{!-- <div class="pre-loader">
		<div class="pre-loader-box">
			<div class="loader-logo"><img src="/vendors/images/deskapp-logo.svg" alt=""></div>
			<div class='loader-progress' id="progress_div">
				<div class='bar' id='bar1'></div>
			</div>
			<div class='percent' id='percent1'>0%</div>
			<div class="loading-text">
				Loading...
			</div>
		</div>
	</div> --}}


	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="card-box pd-20 height-100-p mb-30">
				<div class="row align-items-center">

					<div class="col-md-4">
						<img src="/vendors/images/banner-img.png" alt="">
					</div>
					<div class="col-md-8">
						<h4 class="font-20 weight-500 mb-10 text-capitalize">
							Welcome... <div class="weight-600 font-30 text-blue">SIGI !</div>
						</h4>
						<p class="font-18 max-width-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
							hic non repellendus debitis iure, doloremque assumenda. Autem modi, corrupti, nobis ea iure
							fugiat, veniam non quaerat mollitia animi error corporis.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 mb-30">
					<div class="container lign">
						<div class="row">


							<div class="grid col-md-3">
								<section>

									<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200"
										height="200" xmlns="http://www.w3.org/2000/svg">
										<circle class="circle-chart__background" stroke="#efefef" stroke-width="2"
											fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
										<circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2"
											stroke-dasharray="30,100" stroke-linecap="round" fill="none"
											cx="16.91549431" cy="16.91549431" r="15.91549431" />
										<g class="circle-chart__info">
											<text class="circle-chart__percent" x="16.91549431" y="15.5"
												alignment-baseline="central" text-anchor="middle"
												font-size="8">{{usersCount}}</text>
											<text class="circle-chart__subline" x="16.91549431" y="20.5"
												alignment-baseline="central" text-anchor="middle" font-size="2">Total

												users</text>
										</g>
									</svg>
								</section>
							</div>


							<div class="grid col-md-3">
								<section>

									<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200"
										height="200" xmlns="http://www.w3.org/2000/svg">
										<circle class="circle-chart__background" stroke="#efefef" stroke-width="2"
											fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
										<circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2"
											stroke-dasharray="30,100" stroke-linecap="round" fill="none"
											cx="16.91549431" cy="16.91549431" r="15.91549431" />
										<g class="circle-chart__info">
											<text class="circle-chart__percent" x="16.91549431" y="15.5"
												alignment-baseline="central" text-anchor="middle"
												font-size="8">{{product}}</text>
											<text class="circle-chart__subline" x="16.91549431" y="20.5"
												alignment-baseline="central" text-anchor="middle" font-size="2">Total

												product</text>
										</g>
									</svg>
								</section>
							</div>

							<div class="grid col-md-3">
								<section>

									<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200"
										height="200" xmlns="http://www.w3.org/2000/svg">
										<circle class="circle-chart__background" stroke="#efefef" stroke-width="2"
											fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
										<circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2"
											stroke-dasharray="30,100" stroke-linecap="round" fill="none"
											cx="16.91549431" cy="16.91549431" r="15.91549431" />
										<g class="circle-chart__info">
											<text class="circle-chart__percent" x="16.91549431" y="15.5"
												alignment-baseline="central" text-anchor="middle"
												font-size="8">{{orders}}</text>
											<text class="circle-chart__subline" x="16.91549431" y="20.5"
												alignment-baseline="central" text-anchor="middle" font-size="2">Total

												orders</text>
										</g>
									</svg>
								</section>
							</div>
							<div class="grid col-md-3">
								<section>

									<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200"
										height="200" xmlns="http://www.w3.org/2000/svg">
										<circle class="circle-chart__background" stroke="#efefef" stroke-width="2"
											fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
										<circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2"
											stroke-dasharray="30,100" stroke-linecap="round" fill="none"
											cx="16.91549431" cy="16.91549431" r="15.91549431" />
										<g class="circle-chart__info">
											<text class="circle-chart__percent" x="16.91549431" y="15.5"
												alignment-baseline="central" text-anchor="middle"
												font-size="8">{{brand}}</text>
											<text class="circle-chart__subline" x="16.91549431" y="20.5"
												alignment-baseline="central" text-anchor="middle" font-size="2">Total

												brand</text>
										</g>
									</svg>
								</section>
							</div>


						</div>
					</div>

					<br>
					<br>
					<br>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<br>
							<br>
							<br>
							<canvas id="myChart2" style="max-width: 500px;"></canvas>

							
						</div>

						<div class="col-md-5">
							<center>
								<h4>Payment Status</h4>
							</center>
							<canvas id="doughnutChart"></canvas>
						</div>

							
					</div>

				</div>
				<br>
				<br>
		
				


				<div class="container">
					<div class="row">
						<div class="col-md-6 ml-5">
							
						<canvas id="myChart" style="max-width: 900px;"></canvas>
						</div>
						
						
						<div class="col-md-5 ml-5">
							
						<canvas id="myChart3" style="max-width: 900px;"></canvas>
						</div>
					</div>
				</div>

				<br>
				<br>
				<br>


				<div class="container">
					<div class="card-box mb-30">
						<h2 class="h4 pd-20">LATEST PRODUCT</h2>
						<table class="data-table table nowrap" id="tableSearch">
							<thead>

								<tr>
									<th class="table-plus datatable-nosort">Product</th>
									<th>Name</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Brand</th>
									<th>Catagory</th>
									<th>Actions</th>


								</tr>
							</thead>
							{{#each newProduct}}
							<tr>
								<td class="table-plus">
									<img src="/product_images/{{this._id}}__1.jpg" width="70" height="70" alt="">
								</td>
								<td>
									<h5 class="font-16">{{this.name}}</h5>
									{{this.brand}}
								</td>
								<td>{{this.Price}}</td>
								<td>{{this.quantity}}</td>
								<td>{{this.brand}}</td>

								<td>{{this.catagory}}</td>
								<td>
									<div class="dropdown">
										<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#" role="button" data-toggle="dropdown">
											<i class="dw dw-more"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
											{{!-- <a class="dropdown-item" href="#"><i class="dw dw-eye"></i>
												View</a> --}}
											<a class="dropdown-item" href="/admin/edit_product/{{this._id}}"><i
													class="dw dw-edit2"></i> Edit</a>
											<a class="dropdown-item" href="/admin/delete_product/{{this._id}}"><i
													class="dw dw-delete-3"></i> Delete</a>
										</div>
									</div>
								</td>



							</tr>
							{{/each}}
							</tbody>
						</table>
					</div>
					<div class="footer-wrap pd-20 mb-20 card-box">
						ShoeZone - Managed and admined By <a href="https://www.facebook.com/"
							target="_blank">SIGISHNU</a>
					</div>

				</div>
				<!-- js -->
				<script src="/vendors/scripts/core.js"></script>
				<script src="/vendors/scripts/script.min.js"></script>
				<script src="/vendors/scripts/process.js"></script>
				<script src="/vendors/scripts/layout-settings.js"></script>
				<script src="/src/plugins/apexcharts/apexcharts.min.js"></script>
				<script src="/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
				<script src="/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
				<script src="/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
				<script src="/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
				<script src="/vendors/scripts/dashboard.js"></script>

</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<style>
	.circle-chart__circle {
		animation: circle-chart-fill 2s reverse;
		/* 1 */
		transform: rotate(-90deg);
		/* 2, 3 */
		transform-origin: center;
		/* 4 */
	}

	/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
	.circle-chart__circle--negative {
		transform: rotate(-90deg) scale(1, -1);
		/* 1, 2, 3 */
	}

	.circle-chart__info {
		animation: circle-chart-appear 2s forwards;
		opacity: 0;
		transform: translateY(0.3em);
	}

	@keyframes circle-chart-fill {
		to {
			stroke-dasharray: 0 100;
		}
	}

	@keyframes circle-chart-appear {
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	/* Layout styles only, not needed for functionality */
	html {
		font-family: sans-serif;
		padding-right: 1em;
		padding-left: 1em;
	}

	.circle-chart {
		height: 166px;
	}

	.lign {
		margin-left: -39px;
	}

	.grid {
		display: grid;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
		grid-template-columns: repeat(1, 1fr);
	}

	@media (min-width: 31em) {
		.grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>
<style>
	.barcontainer {
		position: relative;
		border: 3px solid black;
		border-radius: 5px 5px 0 0;
		width: 80%;
		margin: 0 auto;
		min-height: 25vw;
		max-height: 50vw;
		min-width: 40%;
		max-width: 60%;
		z-index: 1;
	}

	.barcontainerheader {
		display: inline;
		position: absolute;
		width: 100%;
		padding-top: 3px;
		padding-bottom: 3px;
		background: #663399;
		border-bottom: 3px solid black;
		font-size: 1.5em;
		color: white;
		text-align: center;
		text-shadow: 2px 2px 0 black;
		z-index: 0;
	}

	.bar {
		position: absolute;
		display: inline-block;
		bottom: 0;
		border: 1px solid black;
		border-radius: 6px 6px 0 0;
		background: #663399;
		width: 10%;
		text-align: center;
		color: white;
		text-shadow: 1px 1px 0 black;
		box-shadow: 4px 0 8px #888;
	}

	.barlabel {
		position: absolute;
		border-top: 2px solid black;
		background: #888;
		bottom: 0;
		width: 100%;
		text-shadow: 1px 1px 0px black;
		color: white;
	}

	.bar:nth-child(2) {
		left: 5%;
	}

	.bar:nth-child(3) {
		left: 20%;
	}

	.bar:nth-child(4) {
		left: 35%;
	}

	.bar:nth-child(5) {
		left: 50%;
	}

	.bar:nth-child(6) {
		left: 65%;
	}

	.bar:nth-child(7) {
		left: 80%;
	}
</style>

<script>
	var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ["Placed", "Shipped", "Pending", "Delivered", "Cancelled"],
			datasets: [{
				label: 'Product delivery status',
				data: [{{ deliveryStatus }}],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(255, 206, 86, 0.2)',
				'rgba(75, 192, 192, 0.2)',
				'rgba(153, 102, 255, 0.2)',

			],
			borderColor: [
				'rgba(255,99,132,1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
				'rgba(255, 159, 64, 1)'
			],
			borderWidth: 1
		}]
	},
		options: {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true
				}
			}]
		}
	}
});
</script>
<script>
	var ctx = document.getElementById("myChart2").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ["Nike", "Adidas", "Puma", "Bata", "Converse" , "Cat"],
			datasets: [{
				label: 'Total Brand Products',
				data: [{{ DifferentBrands }}],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(255, 206, 86, 0.2)',
				'rgba(75, 192, 192, 0.2)',
				'rgba(153, 102, 255, 0.2)',
				
				

			],
			borderColor: [
				'rgba(255,99,132,1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
				'rgba(255, 159, 64, 1)'
				
				
			],
			borderWidth: 1
		}]
	},
		options: {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true
				}
			}]
		}
	}
});
</script>

<script>
	var ctx = document.getElementById("myChart3").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'pie',
		data: {
			labels: ["Out of Stock","In stock"],
			datasets: [{
				label: 'Product delivery status',
				data: [{{ BrandsStock }}],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(255, 206, 86, 0.2)',
				'rgba(75, 192, 192, 0.2)',
				'rgba(153, 102, 255, 0.2)',

			],
			borderColor: [
				'rgba(255,99,132,1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
				'rgba(255, 159, 64, 1)'
			],
			borderWidth: 1
		}]
	},
		options: {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true
				}
			}]
		}
	}
});
</script>

{{!-- //doughnut --}}
<script>

	var ctxD = document.getElementById("doughnutChart").getContext('2d');
	var myLineChart = new Chart(ctxD, {
		type: 'doughnut',
		data: {
			labels: ["COD", "RAZOR PAY", "PAY PAL"],
			datasets: [{
				data: [{{ allPaymentStatus }}],
			backgroundColor: ["#A020F0", "#F33A6A", " #FF00FF"],
			hoverBackgroundColor: ["#A020F0", "#F33A6A", "#FF00FF"]
		}]
	},
		options: {
		responsive: true
	}
});

</script>